body {
  background: #F8F4EA;
  min-width: 340px;
}

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.SignInPage {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.SignInPage h1 {
  margin-top: 10rem;
  font-size: 2rem;
  color: #082a31;
}

.SignInPage button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 2rem;
  background-color: #d3c8b6;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #F8F4EA;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
}

.SignInPage button:hover {
  background-color: #c8bca9;
}

.HomePage {
  text-align: center;
}

.Header {
  background-color: #E1D7C6;
  position: relative;
  height: 3rem;
}

.Header .ProfilePic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 0;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 30%;
}

.Header h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  font-size: 1.2rem;
  padding: 0.8rem;
  color: #797160;
  margin: 0;
  left: 2.2rem;
}

.Header button {
  position: absolute;
  height: 3rem;
  width: 7rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #797160;
  margin: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #d3c8b6;
  border: none;
  text-align: center;
  cursor: pointer;
}

.Header button:hover {
  background-color: #c8bca9;
}

.total-value {
  font-size: 3rem;
  font-weight: bold;
  color: #797160;
}

.bill-add {
  text-align: center;
}

.bill-add input {
  font-size: 1rem;
  margin: 0.4rem;
  width: 8rem;
  height: 1.6rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #E1D7C6;
  color: #797160;
}

.bill-add input::-webkit-input-placeholder {
  color: #797160;
  font-weight: bold;
  opacity: 50%;
}

.bill-add input:-ms-input-placeholder {
  color: #797160;
  font-weight: bold;
  opacity: 50%;
}

.bill-add input::-ms-input-placeholder {
  color: #797160;
  font-weight: bold;
  opacity: 50%;
}

.bill-add input::placeholder {
  color: #797160;
  font-weight: bold;
  opacity: 50%;
}

.bill-add button {
  height: 2rem;
  width: 4rem;
  margin: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #E1D7C6;
  color: #797160;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bills-list {
  opacity: 0;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  background-color: #d3c8b6;
  margin: auto;
  padding: 0;
  width: 22rem;
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 0.8rem;
  border-color: #c8bca9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bills-list.active {
  opacity: 1;
}

.bills-list .frame {
  position: absolute;
  width: calc(100% + 0rem);
  height: calc(100% + 0rem - 0rem);
  -webkit-transform: translate(-0.4rem, -0.4rem);
          transform: translate(-0.4rem, -0.4rem);
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 0.8rem;
  border-color: #c8bca9;
  pointer-events: none;
}

.bills-list .bill {
  background-color: #E1D7C6;
  position: relative;
  height: 2rem;
  color: #797160;
}

.bills-list .bill span,
.bills-list .bill button {
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
}

.bills-list .bill .bill-name {
  left: 0.6rem;
}

.bills-list .bill .bill-price {
  left: 8rem;
}

.bills-list .bill .bill-date {
  left: 14.6rem;
}

.bills-list .bill button {
  position: absolute;
  right: 0rem;
  background-color: transparent;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.8rem;
  color: #797160;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
}

.bills-list .bill {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bills-list .bill .add {
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bills-list .bill:nth-child(even) {
  background-color: #d3c8b6;
}

@media (max-width: 462px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 391px) {
  html {
    font-size: 14px;
  }
  .bill-add input {
    font-size: 1rem;
    margin: 0.4rem;
    width: 16rem;
    height: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */